@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&subset=latin,latin-ext');
* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	text-align: center;
}
/*[data-toggle~="collapse"] {
    cursor: pointer;
}*/

header a:active,
header a:hover {
  outline: 0;
} /*some code of new navbar*/

p {
	margin-top: 10px;
	font-size: 13px;
}
h1 {
	font-size: 40px;
}
h3 {
	text-align: center;
}
body {
    padding-top: 60px;
}
[class*="col-"] {
	float: left;
	padding: 0;
	min-height: 1px;
}
/*clearfix*/
.row:before,
.row:after {
	content: "";
	display: table;
	clear: both;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
}
.container-fluid {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
section > .container {
	margin: 50px auto;
	text-align: center;
}
/*NEW NAVBAR*/

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}*/


/* ------------------------------------------
  DEMO STYLES
--------------------------------------------- */

/*body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  background: #fff;
  font: normal 100%/1.4 sans-serif;
}

section {
  border-bottom: 1px solid #999;
  text-align: center;
  padding: 100px 0 0;
  height: 800px;
  width: 100%;
}

h1 {
  margin-bottom: .5em;
}

p {
  width: 90%;
  margin: 0 auto;
}*/


/* ------------------------------------------
  FIXED HEADER
--------------------------------------------- */

header {
  background: #fff;
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
}

.logo {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  font-weight: bold;
  line-height: 55px;
  padding: 0 20px;
  color: #fff;
  float: left;
}


/* ------------------------------------------
  MASK
--------------------------------------------- */

.mask {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  transition: opacity 300ms;
  background: rgba(0,0,0, .5);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.android .mask {
  -webkit-transition: none;
  transition: none;
}

.js-nav-active .mask {
  visibility: visible;
  opacity: 1;
}

/*@media screen and (min-width: 40em) {
  .mask {
    display: none !important;
    opacity: 0 !important;
  }
}*/


/* ------------------------------------------
  NAVIGATION STYLES
--------------------------------------------- */

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-collapse,
.nav-collapse * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

/*@media screen and (min-width: 40em) {
  .nav-collapse {
    float: right;
    width: auto;
  }
}*/

.nav-collapse li {
  float: left;
  width: 100%;
}

/*@media screen and (min-width: 40em) {
  .nav-collapse li {
    width: auto;
  }
}*/

.nav-collapse a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border-top: 1px solid white;
  text-decoration: none;
  background: #f4421a;
  padding: 0.7em 1em;
  color: #fff;
  width: 100%;
  float: left;
}

.nav-collapse a:active,
.nav-collapse .active a {
  background: #b73214;
}

/*@media screen and (min-width: 40em) {
  .nav-collapse a {
    border-left: 1px solid white;
    padding: 1.02em 2em;
    text-align: center;
    border-top: 0;
    float: left;
    margin: 0;
  }
}*/

.nav-collapse ul ul a {
  background: #ca3716;
  padding-left: 2em;
}

/*@media screen and (min-width: 40em) {
  .nav-collapse ul ul a {
    display: none;
  }
}*/


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

/*@font-face {
  font-family: "responsivenav";
  src:url("../icons/responsivenav.eot");
  src:url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}*/

.nav-toggle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: #fff; /* Edit this to change the icon color */
  font: normal 28px/55px "responsivenav"; /* Edit font-size (28px) to change the icon size */
  text-transform: none;
  text-align: center;
  position: absolute;
  content: "\2261"; /* Hamburger icon */
  text-indent: 0;
  speak: none;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-toggle.active:before {
  font-size: 24px;
  content: "\78"; /* Close icon */
}


/*.navbar-default {
    background-image: none;
	background-color: #fff;
}*/
nav img {
	padding: 10px 20px;
	height: 70px;
	float: left;
}
nav .big-image {
    float: none;
}/*
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 360px;
}
.navbar, .navbar-default {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 70px;
}
.nav li {
	display: inline;
}
.navbar-header > div {
    display: inline-block;
}
.navbar-header > div > p {
    text-align: left;
}*/
nav > div {
    display: inline-block;
    float: left;
}
.vr {
    height: 50px;
    margin-top: 10px;
    padding-left: 20px;
    border-left: 1px solid black;
    float: left;
}
.vr > p {
    margin: 0;
}/*
.navbar-default .navbar-nav {
    width: 70%;
}
nav .navbar-collapse ul {
    margin-left: 5%;
}*/
.staff > a {
    position: relative;
    top: -25vh;
}
/*.navbar-default .navbar-nav > li {
    width: 20%;
}
.navbar-default .navbar-nav > li > a {
	color: #000;
	font-size: 1.3em;
	padding: 30px 25px 33px 25px;
    text-decoration: none;
    text-transform: uppercase;
	height: 70px;
	line-height: 70px;
	padding: 0 20px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
    height: 3px;
}
.navbar-default .navbar-toggle:hover {
    background-color: #fff;
}
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default .navbar-nav li a:hover {
	background-color: #444444;
	transition: 0.3s all linear;
	height: 100%;
    color: #fff;
}*/
.hero {
	height: calc(100vh - 60px);
	width: 100%;
	background: url("pictures/gucz.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.hero > a {
    position: relative;
    top: -10vh;
}
.hero > div {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero p {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    color: #fff; 
    text-align: center;
    margin: 0 auto;
    /*padding-top: 30%*/
}
.icons {
    height: calc(100vh - 70px - 0);
}
.icons > a {
    position: relative;
    top: -24vh;
}
.icons p {
    font-size: 13px;
}
.icons > div > div > div {
    padding: 0 15px 0;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.staff h1 {
    margin-bottom: 50px;
}
.icons .services {
	background: #313234;
	height: 100px;
	width: 100px;
	border-radius: 10px;
	padding-top: 5px;
	margin: 20px auto 0;
}
.icons .services > i {
	font-size: 70px;
	line-height: 90px;
	color: #fff;
}
.icons h3,
.pro h3 {
	margin-top: 10px;
	text-transform: uppercase;
}
.pro {
    position: relative;
	height: 70vh;
	width: 100%;
	background: url("pictures/pro.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   /* padding-top: 10%;*/
}
.pro > a {
    position: relative;
    top: -15vh;
}
.pro p {
    font-size: 13px;
}
.pro .thumbnail {
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    top: 22vh;
    left: 0;
    right: 0;
    margin: auto;
}
.btn-primary {
    background-image: none;
    background-color: firebrick;
}
.btn {
    border: 0;
}
.head-gallery {
	margin: 20px auto;
}
.staff .row > div > div {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	cursor: pointer;
	margin: auto;
}
.staff .row h3 {
	font-weight: 500;
    margin: 0;
    line-height: inherit;
}
.staff h4 {
    margin-top: 0;
    margin-bottom: 20px;
}
.staff span {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
}	
.staff .row > div:nth-child(1) > div {
	background: url("pictures/founder.png") center /cover;
}
.staff .row > div:nth-child(2) > div {
	background: url("pictures/aga.png") top /cover;
}
.staff .row > div:nth-child(3) > div {
	background: url("pictures/omlet.jpg") center /cover;
}
.staff .row > div > div > div {
	line-height: 200px;
	width: 200px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 100px;
	color: #fff;
	display: none;
	transition: ease-in-out .3s;
}
.staff .row > div > div:hover div {
	display: inline-block;
}
footer > .footer-top {
	background: #313234;
	padding: 40px 0;
}
footer > .footer-top p {
	background-color: #313234 !important;
	text-align: left;
	color: #fff;
    font-size: 14px;
    margin: 0;
}
footer > .footer-top .row div:nth-child(2) [class*="col-"] {
	padding: 0;
}
footer > .footer-top a {
	background-color: firebrick;
	color: #fff;
	padding: 10px;
	font-size: 20px;
	margin: 10px 10px 0 0;
	float: left;
}
footer > .footer-bottom {
	background: #000;
	color: #fff;
	line-height: 12px;
}
footer > .footer-bottom h3 {
    font-size: 12px;
    margin: 3px auto;
}
footer h2 { 
	color: #fff; 
	text-align: left; 
	margin: 10px 0 5px;
    font-size: 22px;
} 
footer h2 span { 
	background: #313234; 
	padding-right: 10px;
    color: #fff;
}
/*@media (max-width: 450px) {
    .navbar-header > .big-brand > p {
        font-size: 14px;
    }
}
@media (min-width: 451px) {
    .navbar-header > .big-brand > p {
        font-size: 26px;
    }
}*/
@media (max-width: 1024px) {
    .hero {
        background-attachment: scroll;
    }
    .pro {
         background-attachment: scroll;
    }
}
@media (max-width: 767px) {
    .hero > div {
        width: 300px;
        height: 200px;
    }
    .hero p {
        font-size: 40px;
    }
    .staff .row > div > div {
		margin-top: 20px;
	}
	.staff .row > div > div > div {
		display: block;
		background-color: rgba(0, 0, 0, 0.2);
	}
    .thumbnail {
        width: 90%;
    }
	footer h1 {
		margin-top: 25px;
		text-align: center;
	}
	footer .footer-top p,
	footer .footer-top i {
		text-align: center;
		float: none;
	}
	footer table {
		margin: 0 auto;
	}
    .footer-bottom h3 {
        margin: 0;
    }
    footer h2 { 
	   text-align: center; 
    }
    footer > .footer-top a {
        float: none;
    }
/*    .navbar-default .navbar-nav {
        width: 100%;
    }
    nav .navbar-collapse ul {
        margin-left: 0;
    }
    .navbar-collapse {
        padding: 0;
    }*/
    .staff > a {
        position: static;
    }
/*    .navbar-default .navbar-toggle {
    margin: 15px 30px;
    display: block;
}
.navbar-collapse.collapse {
        display: none!important;
}
.navbar-nav {
        float: none!important;
}
.navbar-nav>li {
        float: none;
}
.collapse.in{
  		display:block !important;
	}*/  
}
@media (min-width: 40em) {
.js .nav-collapse {
    position: relative;
  }
.js .nav-collapse.closed {
    max-height: none;
  }
.nav-toggle {
    display: none;
  }
    
.mask {
    display: none !important;
    opacity: 0 !important;
  }
.nav-collapse {
    float: right;
    width: auto;
  }    
.nav-collapse li {
    width: auto;
  }         
.nav-collapse a {
    border-left: 1px solid white;
    padding: 1.02em 2em;
    text-align: center;
    border-top: 0;
    float: left;
    margin: 0;
  }
.nav-collapse ul ul a {
    display: none;
  }
}